#btnShow {
    padding: 2px;
}
.number {
    font-size: 20px;
}

.row {
    outline: 2px solid #28c0ef;
    height: 50px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-around;
}

section {
    border: 2px dotted #dcda29;
    width: 100%;
    text-align: center;
}
.wrapper {
    width: 450px;
    padding: 10px;
}

.item {
    margin-top: 10px;
    border: 2px red solid;
}